<!-- The header menu: documentation sections and the OpenMBEE sites. A `details`
     element, so it opens with the keyboard and needs no script. -->
<details class="osml-menu">
  <summary class="md-header__button md-icon" title="Menu" aria-label="Menu">
    {% include ".icons/material/menu.svg" %}
  </summary>
  <nav class="osml-menu__list" aria-label="Menu">
    <a href="{{ 'guide/'|url }}">Guide</a>
    <a href="{{ 'reference/'|url }}">Reference</a>
    <a href="{{ 'project/roadmap/'|url }}">Roadmap</a>
    <hr>
    <a href="https://openmbee.org">OpenMBEE</a>
    <a href="https://github.com/Open-MBEE/opensysml.github.io/wiki/OpenSysML-Forum">Forum</a>
  </nav>
</details>
